<!DOCTYPE html> 
<html lang="en">
   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>About - {{ page.title }}</title>
   </head>
   <body>
      <h1>About Us</h1>
      <div> {{ page.content|safe }} </div>
      {% if page.custom_data.is_some() %}
      <div class="about-details">
         <!-- Custom about page details -->
         <pre>{{ page.custom_data.as_ref().unwrap()|json_encode|safe }}</pre>
      </div>
      {% endif %}
   </body>
</html>