{% extends "base.html" %}

{% block content %}
    <h1>Blog Posts</h1>
    <ul>
    {% for post in posts %}
        <li>
            <a href="{{ post.frontmatter.slug }}.html">
                {{ post.frontmatter.title }} - {{ post.frontmatter.date }}
            </a>
            {% if post.frontmatter.summary.len() > 0 %}
                <p>{{ post.frontmatter.summary }}</p>
            {% endif %}
            {% if !post.frontmatter.tags.is_empty() %}
                <div>Tags: {{ post.frontmatter.tags|join(", ") }}</div>
            {% endif %}
        </li>
    {% endfor %}
    </ul>
{% endblock %}